* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.blocks {
    min-height: 100vh;
    width: 100%;
    border: 2rem solid rgba(53, 138, 166, 0.1);
}
.ntop {
    width: inherit;
    min-height: 14vh;
    background-color: rgb(58, 213, 251);
    display: flex;
    align-items: center;
    justify-content: center;
}
.ncenter {
    width: inherit;
    min-height: 60vh;
    float: left;
    margin: 1% 0;
}
.nnav {
    width: 20%;
    background-color: rgb(58, 213, 251);
    min-height: inherit;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
.maincont {
    width: 58%;
    background-color: rgb(0, 153, 255);
    min-height: inherit;
    float: left;
    margin: 0 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nsidebar {
    width: 20%;
    background-color: rgb(58, 213, 251);
    float: left;
    min-height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nfooter {
    width: inherit;
    background-color: rgb(58, 213, 251);
    min-height: 14vh;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .blocks {
        border: none;
    }
    .nnav {
        width: 30%;
    }
    .nsidebar {
        width: 30%;
    }
    .maincont {
        width: 38%;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {
    .ncenter {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nnav {
        width: 100%;
    }
    .maincont {
        margin: 1% 0;
        width: 100%;
    }
    .nsidebar{
        width: 100%;
    }
}


